{% extends "layout.html.twig" %}
{% set active = 'connexion' %}
{% block page_title %} Connexion {% endblock %}
{% block content %}

<section class="bg-image backconnexion">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-md-10 sect-mt4">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full connexion ">
            <div class="row">
              <div class="col-md-12">
                <div class="title-box-2">
                  <h5 class="title-left text-center">
                    Connexion
                  </h5>
                </div>
                
                <div class="row">
                <div class="mx-auto col-md-8">

                {% for message in app.flashes('notice') %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if error %}
                    <div class="alert alert-danger">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{ error.messageKey|trans(error.messageData, 'security')| replace({"Invalid credentials." : "Identifiant et/ou mot de passe incorrect."}) }}
                    </div>
                {% endif %}
                
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                <div class="mx-auto col-md-8 mt-4">
                {{ form( form, { attr: { novalidate: 'novalidate' } } ) }}
                </div>
                </div>
                </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<!-- 


    <div class="container sect-mt4">
    <div class="row sect-mt4">
        <div class="mx-auto col-md-8 mt-4">

                {% for message in app.flashes('notice') %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if error %}
                    <div class="alert alert-danger">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{ error.messageKey|trans(error.messageData, 'security')| replace({"Invalid credentials." : "Identifiant et/ou mot de passe incorrect."}) }}
                    </div>
                {% endif %}

            <h2 class="text-center"> Connexion </h2>

            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            <div class="mx-auto col-md-8 mt-4">
                {{ form( form, { attr: { novalidate: 'novalidate' } } ) }}
            </div>
        </div>
    </div>
    </div>

-->

{% endblock %}