{% extends "layout.html.twig" %}
{% set active = 'Nascom' %}
{% block page_title %} Produits {% endblock %}

{#  
{% set active = categorie.slug %} 
}
 
{#  
{% block page_title %}
{{ article.title | title }}
{% endblock %}  
#}


{% block content %}


  <!--/ Intro Skew Star /-->
  <div class="intro intro-single bg-image">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="intro-title mb-4"> PRODUITS </h2>

        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <!--/ Section Blog-Single Star /-->
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="post-box">
            <div class="post-thumb">
              

        <div class="row">

               {% for produit in produits %}

            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="{{ path('ficheproduit', {
                                    'categorie' : produit.categorie.slug,
                                    'slug' : produit.slug,
                                    'id'   : produit.id
                                }) }}"><img src="{{ asset('img/' ~ produit.image1 ) }}" alt="{{ produit.name }}" class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">{{ produit.categorie.name }}</h6>
                            </div>
                        </div>
                        <h3 class="card-title"><a href="{{ path('ficheproduit', {
                                    'categorie' : produit.categorie.slug,
                                    'slug' : produit.slug,
                                    'id'   : produit.id
                                }) }}">{{ produit.name}}</a></h3>
                        <p class="card-description">
                            {{ produit.description | summarize_categorie}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="post-author">
                                <span class="author">Référence : {{ produit.reference}}</span>
                        </div>
                    </div>
                </div>
            </div>
             {% endfor %}
            </div>
            </div>
            </div>
          </div>

  {# Sidebar #}
  {% include 'components/_sidebar.html.twig' %}
  {# {{ render(controller('App\\Controller\\TechNews\\IndexController::sidebar')) }}#}
{% endblock %}