{% extends "layout.html.twig" %}


{% block title %}

    Nascom

{% endblock %}


{% block content %}



<body id="page-top">

<!--/ Intro Skew Star /-->
<div id="home" class="intro route bg-image backindex">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <!--<p class="display-6 color-d">Hello, world!</p>-->
                <h1 class="intro-title mb-4">NASCOM</h1>
                <p class="intro-subtitle"><span class="text-slider-items">Routeur ADSL / VDSL / FIBRE / 4G LTE, Matériel informatique, Vente en gros</span><strong class="text-slider"></strong></p>
                 <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4 btnbtn" href="#work" role="button">Voir nos produits phares</a></p>
            </div>
        </div>
    </div>
</div>
<!--/ Intro Skew End /-->



<!--/ Section Services Star /-->
<section id="service" class="services-mf route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Notre Expertise
                    </h3>
                    <p class="subtitle-a">
                        10 ans d'expériences...
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle modificonenmontant"><i class="ion-ios-home"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Nascom France</h2>
                        <p class="s-description text-center">
                        2 rue Eugène Pottier <br>
                        78190 Trappes-en-Yvelines
                        France
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-ios-telephone"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Contact</h2>
                        <p class="s-description text-center">
                            Appelez-nous gratuitement au : <br>
                            <a href="tel:+33176740000" class="tel">01 76 74 00 00</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-checkmark"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Qualité des produits</h2>
                        <p class="s-description text-center">
                        Nous vous proposons une gamme de produits de qualité, sélectionné par nos soins.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-ios-person"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Qui sommes-nous</h2>
                        <p class="s-description text-center">
                        Après 20 ans d’expérience dans les réseaux et télécoms, l’équipe a mis en place son savoir-faire dans la création de la société Nascom pour vous satisfaire. 
                        
                        Nous sommes spécialisés dans la distribution de matériels de télécommunications et d’infrastructures réseaux, notre équipe vous conseille et vous accompagne à réaliser vos projets avec les solutions les plus adaptées à vos besoins en Convergence IP, avec une offre de gamme de standard téléphonique, de poste IP, de conférenciers de système de visioconférence, de routeurs, de firewall, de vidéosurveillances ainsi que de câblage informatique.

                        Grâce au dynamisme et à la réactivité de notre équipe nous avons su nous imposer sur le marché de l’IT avec un service commercial, marketing, logistique et technique de qualité et personnalisé...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Services End /-->







<!--/ Paralax Counter /-->
<div class="section-counter paralax-mf bg-image" style="background-image: url(img/counters-bg.jpg);" >
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">2000</p>
                        <span class="counter-text">CLIENTS</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">20</p>
                        <span class="counter-text">ANNEES D'EXPERIENCE</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ios-people"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">6</p>
                        <span class="counter-text">PARTENAIRES</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ios-paperplane"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">100000</p>
                        <span class="counter-text">LIVRAISON</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--/ Section Portfolio Star /-->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Produits phares
                    </h3>
                    <p class="subtitle-a">
                        Retrouvez nos meilleurs produits.
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">

            {% if produits is not empty %}

                    {% for produit in spotlight %}

            <div class="col-md-4">
                <div class="work-box">
                    <a href="{{ path('ficheproduit', {
                                    'categorie' : produit.categorie.slug,
                                    'slug' : produit.slug,
                                    'id'   : produit.id
                                }) }}">
                        <div class="work-img">
                            <img src="{{ asset('img/' ~ produit.image1 ) }}" alt="{{ produit.description }}" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">{{ produit.name }}</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">{{ produit.categorie.name }}</span> / <span class="w-date">{{ produit.date | date('d/m/Y') }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

                    {% endfor %}
        
                    {% else %}

                    <div class="alert alert-danger">
                        <strong>Aucun produit phare pour le moment.</strong>
                    </div>

            {% endif %}

        </div>


    </div>
</section>
<!--/ Section Portfolio End /-->

<!--/ Section Testimonials Star /-->
<div class="testimonials paralax-mf bg-image testimonialsback">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-mf" class="owl-carousel owl-theme">
                    <div class="testimonial-box">
                        <div class="author-test">
                            <img src="{{ asset('img/testimonial-2.jpg') }}" alt="" class="rounded-circle b-shadow-a">
                            <a class="display-3" href="tel:+33176740000""> NOUS CONTACTER</a>
                        </div>
                        <div class="content-test">
                        <p class="description lead"> </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Section Testimonials End /-->



<!--/ Partenaire Start /-->
<section id="partenaire" class="blog-mf sect-pt4 route ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Nos partenaires
                    </h3>
                    <p class="subtitle-a">
                        Ils nous ont fait confiance
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row espacementpartenaire">

            <div class="col-md-2">
                <div class="partenaires">
                    <img src="{{ asset('img/alphalink.png') }}" alt="" class="img-fluid">
                </div>
            </div>

            <div class="col-md-2">
                <div class="partenaires">
                    <img src="{{ asset('img/technicolor.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            
            <div class="col-md-2">
                <div class="partenaires">
                    <img src="{{ asset('img/logo-bleu.png') }}" alt="" class="img-fluid">
                </div>
            </div>
            
            <div class="col-md-2">
                <div class="partenaires">
                    <img src="{{ asset('img/logo-chrysalead_0.png') }}" alt="" class="img-fluid">
                </div>
            </div>            
            
            <div class="col-md-2">
                <div class="partenaires">
                    <img src="{{ asset('img/logo-trappes-220x151.png') }}" alt="" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</section>




<!--/ Section Contact/-->

<!--
<section class="bg-image sect-mt4 backcontact" id="about">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-sm-8">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full">
            <div class="row">
              <div class="col-md-12">
                <div class="title-box-2">
                  <h5 class="title-left">
                    Nous contacter
                  </h5>
                </div>

                <div>
                  <form action="" method="post" role="form" class="contactForm">
                    <div id="sendmessage">Merci pour votre message !</div>
                    <div id="errormessage"></div>
                    <div class="row">
                    
                        <div class="form-group col-md-4">
                          <select name="type" id="inputState" class="form-control">
                            <option selected>Civilité</option>
                            <option>Mr</option>
                            <option>Mrs</option>
                          </select>
                        </div>
                      <div class="col-md-12 mb-3">
                      
                        <div class="form-group">
                          <input type="text" name="name" class="form-control" id="name" placeholder="Nom" data-rule="minlen:4" data-msg="Minimum 4 caractères" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Rentrer une email valide" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="text" class="form-control" name="societe" id="subject" placeholder="Société" />
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Message requis" placeholder="Message"></textarea>
                          <div class="validation"></div>
                        </div>
                      </div>
                      <div class="col-md-12 text-center">
                        <button type="submit" class="button button-a button-big button-rouded">Envoyer</button>
                      </div>
                    </div>
                    
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

-->

<!--/ Contact End /-->

{% endblock %}