<!--/ Navigation /-->
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll" href="{{ path('index') }}">Nascom</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
                aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll active " href="{{ path('index') }}">Accueil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll " href="{{ path('allproduct') }}">Produits</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll" href="{{ path ('formcontact') }}">Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll" href="{{ path ('search_produits') }}">Recherche avancée</a>
                </li>
                

                <!--Déconnexion-->

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <li class="nav-item">
                        <a href="{{ path('membre_profil') }}"><i class="fa fa-user icon"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('membre_deconnexion') }}" class="btn btn-primary deconnexion" role="button">Déconnexion</a>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a href="{{ path('membre_connexion') }}" class="btn btn-primary connexion" role="button">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('membre_inscription') }}" class="btn btn-primary inscrire" role="button">S'inscrire</a>
                    </li>

                {% endif %}
                
            </ul>
        </div>
    </div>
</nav>
<!--/ Nav End /-->
